#loading {
    text-align: center;
    font-size: 18px;
    color: #007BFF;
    margin-top: 20px;
}

#result {
    margin-top: 20px;
    padding: 20px;
    border: 2px solid #007BFF;
    border-radius: 10px;
    background-color: #f1f1f1;
    text-align: center;
}

#result h2 {
    font-size: 24px;
    font-weight: bold;
}

#result h3 {
    font-size: 20px;
    color: #333;
}

#result ul {
    list-style-type: none;
    padding-left: 0;
}

#result ul li {
    font-size: 18px;
    color: #cc0000;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}
